
@{
    ViewBag.Title = "ListPrograms";
}

<h2>ListPrograms</h2>

<table class="table">
    <thead>
        <tr>
            <th>Program ID</th>
            <th>Program Name</th>
            <th>TRP Score</th>
            <th>Channel</th>
            <th>Air Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model)
        {
            <tr>
                <td>@program.ProgramId</td>
                <td>@program.ProgramName</td>
                <td>@program.TRPScore</td>
                <td>@program.ChannelId</td>
                <td>@program.AirTime</td>
                <td>
                   
                </td>
            </tr>
        }
    </tbody>
</table>